body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; /* Added a generic font */
    background-color: #e6f0ff; 
}

#plotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    height: 60vh; /* Adjusted height for better proportions */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increased shadow intensity */
    padding: 20px; 
    background-color: #ffffff; /* Changed to a pure white */
}

#plotImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px; /* Added some curvature to the image */
}

#dateSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Increased spacing */
}

label {
    margin-right: 10px; /* Added some separation between labels and inputs */
}

input[type="date"],
button {
    padding: 8px;
    margin: 0 5px; /* Spacing around inputs and buttons */
    border-radius: 4px;
    border: 1px solid #ccc;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjusted margin */
}

.buttonClass {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; 
    width: 150px; 
}

.buttonClass:hover {
    background-color: #0056b3;
}

.buttonClass:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.shadow-effect {
    position: relative;
    top: 1px; 
  }

  #submitDates {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 150px;
}

#submitDates:hover {
    background-color: #0056b3;
}
